<div class="moods-index-background">

  <h1>How do you feel today ?</h1>
<div class="container">
    <div class="row">
      <% @moods.each do | mood | %>
        <div class="col-lg-3">
          <%= link_to exercice_path(select_exos(mood)) do %>
              <div class="moods-card-category">
                <%= mood.name %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>



