h1 {
  font-family: josefin;
  color: gray;
  opacity: .8;
  text-align: center;
  padding: 16px;
  font-size: 50px;
}
body {
  background-color: #F0E9E9;
}
.tyt-card {
  border-radius: 50%;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 250, .1);
  width: 67%;
  height: 223px;
  margin: 8px;
}
.card-category {
  font-family: "pacifico";
  font-size: 24px;
  font-style: italic;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding-top: 80px;
}
.btn-search {
  padding: 8px;
  margin: 16px;
}
