h1 {
  font-family: josefin;
  text-align: center;
  padding: 16px;
  font-size: 48px;
}
.container{
  //background-color: red;
}
.tyt-card {
  border-radius: 50%;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2);
  width: 85%;
  height: 290px;
  margin: 8px;
}
.card-category {
  font-family: "pacifico";
  font-size: 24px;
  font-style: italic;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding-top: 80px;
}
.btn-search {
  padding: 8px;
  margin: 16px;
}
