.general {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
}

h1 {
  color: gray;
  opacity: .9;
  text-align: center;
  padding: 16px;
  font-size: 50px;
}

.tyt-card {
  border-radius: 50%;
  box-shadow: 2px 2px 1px 1px rgba(110, 110, 110, .1);
  background-image: url("https://i.pinimg.com/564x/8a/e0/b8/8ae0b80c16498671ec54914f284470c5.jpg");
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: 8px;
}a:hover {
  text-decoration: none;
}
.card-category {
  font-family: "pacifico";
  font-size: 24px;
  color: #C72C41;
  font-weight: bolder;
  text-align: center;
  padding-top: 100px;
}
.search {
  color: #C72C41;
  background-color: white;
  border-color: #C72C41;
  border: 1px solid;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 120px;
  height: 38px;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

.exo-form{
  // position: absolute;
  margin-bottom: 2%;
  margin-left: 40%;
  // top: 120px;
  color:: #C72C41;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

