.tyt-navbar {
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 100;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

.logo-background {
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(homepage_picture.jpg);
  background-size: cover;
  filter: contrast(110%);
  filter: brightness(130%);
    }

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.white-color {
  text-decoration: none;
  color: white;
  font-family: 'pacifico';
}

.dropdown-menu {
  a {
    color: black;
  }
}


.avatar{
  width: 55px;
}

.d-flex {
  padding: 16px;
  text-decoration: none;
}

.home-container {
  width : 100vw;
  height: 100vh;
  // position: absolute;
  // bottom:0;
  // right: 0;

  background-image: asset-url('homepage_picture.jpg');
  //filter: grayscale(100%);
  background-size: cover;
  // background-blend-mode: saturation;
  background-position: center;
  font-family: 'Pacifico', cursive;
  position: relative;
}

.home-title {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-weight: lighter;
}

.card {
  position: relative;
  display: flex;
  justify-content: between;
  height: 425px;
  width: 375px;
  background-color: rgba(247, 243, 237, 0.8);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: absolute;
  margin-top: 10%;
  margin-left: 140px;
  border-radius: 5px;
  box-shadow: 1px 1px #ACA1AB;
}


.card-title {
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  padding-top: 45px;
  text-align: left;
  font-weight: bolder;
}

.card-paragraphe {
  font-size: 18px;
  padding-top: 60px;
  font-family: 'Quicksand', sans-serif;
  // font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: black;
  opacity: 0.9;
}
