.tyt-navbar {
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 100;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  a {
     text-decoration: none;
     color: #508CA9;
  }
}

.white-color {
  color: white;
}

.dropdown-menu {
  a {
    color: black;
  }
}

.d-flex {
  padding: 16px;
  text-decoration: none;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
  }

.home-container {
  width : 100vw;
  height: 100vh;
  // position: absolute;
  // bottom:0;
  // right: 0;
  background-image: asset-url('homepage_picture.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Pacifico', cursive;
  position: relative;
}

.home-title {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-weight: lighter;
}

.card {
  position: relative;
  display: flex;
  justify-content: between;
  height: 425px;
  width: 375px;
  background-color: #F7F3ED;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: absolute;
  margin-top: 240px;
  margin-left: 110px;
  border-radius: 5px;
  opacity: 0.8;
  box-shadow: 1px 1px #ACA1AB;
}


.card-title {
  font-size: 26px;
  font-family: 'Nanum Myeongjo', serif;
  color: black;
  padding-top: 45px;
  text-align: left;
}

.card-paragraphe {
  font-size: 15px;
  padding-top: 60px;
  font-family: 'Nanum Myeongjo', serif;
  // font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: black;
  opacity: 0.9;
}
