.moods-index-background {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
}

.moods-card-category {
  font-family: "pacifico";
  font-size: 24px;
  font-style: italic;
  color: #C72C41;
  font-weight: bolder;
  text-align: center;
  padding-top: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 1px 1px rgba(211, 200, 177, 0.7);
  width: 90%;
  height: 223px;
  margin: 8px;
  background-image: url("https://i.pinimg.com/564x/8a/e0/b8/8ae0b80c16498671ec54914f284470c5.jpg");
  opacity: 0.8;
  background-size: cover;
  a {
    text-decoration: none;
    color: #C72C41;
  }
}
