.general-new-bookings {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.new-booking {
  width: 500px;
}

label {
  font-family: 'quicksand';
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
}

.new-bookings-btn {
  height: 40px;
  width: 80px;
  font-family: 'quicksand';
  font-weight: bolder;
  border: 2px solid #cd4254;
  border-radius: 3px;
  background-color: white;
  color: #cd4254;
  padding: 8px;
}.new-bookings-btn:hover{
  font-family: 'quicksand';
  font-weight: bolder;
  border: 2px solid #cd4254;
  background-color: #cd4254;
  color: white;
}
