.general-new-bookings {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.new-booking {
  width: 500px;
}

/*label {
  font-family: 'quicksand';
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
}*/

.new-bookings-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 90px;
  font-family: 'Quicksand';
  font-weight: bolder;
  border: 2px solid #cd4254;
  border-radius: 30px;
  background-color: white;
  color: #cd4254;
}.new-bookings-btn:hover{
  font-family: 'Quicksand';
  font-weight: bolder;
  border: 2px solid #cd4254;
  background-color: #cd4254;
  color: white;
}
