.first-dash-container {
  background-color: white;
}

.dashboard-container {
  background-color: white;
  position: relative;
}

.dashboard-wrapper-right {
display: flex;
align-items: center;
}

.dash-wrapper-left {
overflow-y: scroll;
height: 550px;
width: 90%;
border-radius: 3px;
border: #F7F3ED solid 1px;
font-family: 'Quicksand', sans-serif;
font-weight: bold;
font-size: 24px;
}

.card-product {
  border-radius: 1px;
  margin-bottom: 3px;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display : flex;
  // font-family: 'Quicksand', sans-serif;
  // font-weight: bold;
  // font-size: 24px;
}

.dashboard-date {
  font-family: 'Quicksand', sans-serif;
}

.dashboard-phrase {
  font-family: 'Quicksand', sans-serif;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
  font-weight: bold;
}

.card-product .card-product-infos {
  padding: 16px;
}

.exercises-link {
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 16px;
  padding: 16px;
} a:hover {
  text-decoration: none;
  color: #C72C41;
}


.scroll-title {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  margin-left: 57px;
  margin-top: 10px;
  font-size: 27px;
  color: #C72C41;
}

.btn-to-exercices {
  border: 2px solid #C72C41;
  border-radius: 30px;
  padding: 10px;
  width: 165px;
  height: 55px;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #C72C41;
}.btn-to-exercices:hover {
  background-color: #C72C41;
  color: white;
  font-weight: bolder;
}



