h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.show-exercise-container {
  width: 100vw;
  height: 100vh;
  background-color: #F0E9E9;
}

.exercise-show-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #C16E70;
  height: 550px;
  width: 500px;

}

.exercise-show-card-footer {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 500px; /* Full-width */
  height: 12px; /* Specified height */
  background: blue; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
  background-image: url('/assets/homepage_picture.jpg');
  background-size: cover;
  filter: brightness(120%);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 40px;
  border: 0;
  background-image: url('/assets/breathe.png');
  background-size: cover;
  cursor: pointer;
}
