.exercise-show-background {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;

  h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
  }

  h2 {
  font-size: 34px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  color: black;
  text-align: center;
  margin-top: 20px;
  }

  h3 {
    font-family: 'Pacifico', cursive;
    color: black;
    margin-top: 25px;
    opacity: 0.8;

  }

  p {
    font-family: 'Quicksand', sans-serif;
  }
}


.image-exercise img {
  width: 600px;
  max-height: 335px;
}


.exercise-show-global-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shuffle-text {
  position: absolute;
  top: 229px;
  left: 55px;
  width: 250px;
  height: 200px;
  font-size: 20px;
}





.exercise-show-card-exercise {
  display: flex;
  flex-direction: column;
  // border: solid;
  // border-width: 1px;
  // border-color: #6E697D;
  // height: 400px;
  // width: 600px;
  border-radius: 5px;
  opacity: 0.9;
  // box-shadow: 1px 1px #6E697D;
  box-shadow: 0 0 0px rgba(0,0,0,0);
  // -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  // -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

}

.exercice-description {
  text-align: center;
  vertical-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
  height: 335px;
  width: 600px;
}



.exercise-show-review {
  // align-items: center;
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-color: #F7F3ED;
  // background-color: rgba(230, 230, 250, 0.6);
  // border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Nanum Myeongjo', serif;
  margin-top: 12px;
  // h2 {
  //   margin-bottom: 60px;
  // }
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 400px; /* Full-width */
  height: 20px; /* Specified height */
  background-color: #f2e7d7; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // background-color: #ce44556b;
  background-image: url(homepage_picture.jpg);
  background-size: cover;
  filter: contrast(110%);
  filter: brightness(130%);
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  // border-radius: 50%;
  // border: 5px solid red;
  background-image: url(image_path('breathe.png'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: brightness(130%)
}

.swal-modal {
  font-family: 'pacifico', cursive;
  color: black;
}

.swal-title {
  color: black;
  opacity: 0.8;
}

.swal-button {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.swal-text {
  font-size: 28px;
  color: black;
  opacity: 0.8;
}

.swal-button--confirm:focus {
  box-shadow: none;
}

.swal-button--confirm:hover {
  background-color: white !important;
  color: #C72C41;
  border: 0.5px solid;
  border-color: #C72C41 !important;
}
  // .footer {
  //   position: fixed;
  //   height: 100px;
  //   bottom: 0;
  //   width: 100%;
  //   height: 60px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-around;
  // }
