
<div class="bookings-title pt-5" >
  <h1 >My Bookings</h1>
</div>

<div class="tyt-bookings">

  <% @bookings.each do |booking| %>

    <div class="booking-card">

      <img src="https://i.pinimg.com/564x/8a/e0/b8/8ae0b80c16498671ec54914f284470c5.jpg">

      <p class="booking-card-description"> <%= "#{booking.user.first_name} your studio is #{booking.teacher.name},#{booking.teacher.address} and start on #{booking.date.strftime("%A %e %B")}." %></p>
        <%= link_to 'cancel', booking_path(booking),
          method: :delete,
          data: { confirm: "Are you sure?" },
        class: 'delete-b' %>

    </div>

  <% end %>

</div>

<%= link_to "See your path...", achievements_path, class: "achievement-link" %>

