<h1 style= "padding-top: 24px;"> Book your class !</h1>

<div class="general-new-bookings">
  <div class="new-booking">
      <%= simple_form_for [@teacher, @booking] do |f| %>
        <%= f.input :title %>
        <%= f.submit ' G O  ! ', class: "new-bookings-btn"%>
      <% end %>
  </div>
</div>
