<h1> Book your class !</h1>

<div class="new-booking", style="">
    <%= simple_form_for [@teacher, @booking] do |f| %>
      <%= f.input :title %>
      <%= f.submit ' G O  ! '%>
    <% end %>
</div>
