







  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->



<div class="home-container">
  <div class="left">
    <div class="left-container">
      <div class="elements">
        <div class="card">
          <div class="card-body">
           <h1 class="card-title">Stop for 15 minutes and improve your life.</h1>
           <p class="card-paragraphe"> "Le plus grand secret pour le bonheur, c'est d'être bien avec soi." Bernard Fontenelle </p>
           <%= link_to "Start now", moods_path, class: "btn home-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>


