<div class="home-container">
  <div class="home-left">
    <div class="home-left-container">
      <div class="elements">
        <div class="card-home">
          <div class="card-body">
            <p class="card-title">Stop for 15 minutes and improve your life.</p>
            <p class="card-paragraphe"> "The biggest secret for happiness, is to be good with ourself." <br><i> - Bernard Fontenelle </i></p>
            <%= link_to "Start now", moods_path, class: "block btn home-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-right"></div>
</div>
