
.mapboxgl-popup {
  max-width: 200px;
  font-family: "pacifico";
  color: black;
  border-radius: 3px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'pacifico', sans-serif;
  color: black;
}
