<h1>Achievements#index</h1>

<% @achievements.each do | achievement | %>
<ul>
  <li> <%= achievemnt.init_mood %> </li>
  <li> <%= achievemnt.exercise %> </li>
  <li> <%= achievemnt.final_mood %> </li>
</ul>
<% end %>
