<h1> Achievement#new </h1>

<%= simple_form_for [@exercice, @achievement] do |f| %>
  <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline  %>
  <%= f.submit %>
<% end %>
