<h1>Index#exercises</h1>

<% @exercices.each do | exercice | %>
  <%= link_to exercice_path(exercice) do %>
    <ul>
      <li> <%= exercice.name %> </li>
    </ul>
  <% end %>
<% end %>

<%= form_tag exercices_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an Exercise"
  %>
<% end %>
