<h1>Show#Exercises</h1>

<%= @exercice.name %>
<%= @exercice.description %>

<%= link_to 'shuffle!', exercice_path(select_another_exos(@exercices, @exercice, @mood)) %>

<%= link_to 'DONE', new_exercice_achievement_path(@exercice) %>
